################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/nova-media-landscape-trip-city/.vs/nova-media-landscape-trip-city/v15
